* {
    box-sizing: border-box;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}


.card__face--back {
    transform: rotateY(180deg);
}


.card__flipped {
    transform: rotateY(180deg);
}

.card__flipped--horizontal {
    transform: rotateX(-180deg);

}
